{
  "IsEncrypted": false,
  "Values": {
    "AzureWebJobsStorage": "UseDevelopmentStorage=true",
    "FUNCTIONS_WORKER_RUNTIME": "dotnet-isolated",
    "SQL_CONNECTION_STRING": "Server=(localdb)\\mssqllocaldb;Database=TelemetryDev;Trusted_Connection=True;",
    "APPINSIGHTS_CONNECTION_STRING": ""
  }
}
