{
  "Logging": {
    "LogLevel": {
      "Default": "Debug",
      "Microsoft.AspNetCore": "Information"
    }
  },
  "ConnectionStrings": {
    "DefaultConnection": "Server=localhost,1433;Database=TelemetryDev;User Id=sa;Password=<YOUR_SA_PASSWORD>;TrustServerCertificate=True;MultipleActiveResultSets=true"
  },
  "AllowedOrigins": [ "http://localhost:5173" ],
  "KeyVaultName": "",
  "MetroGtfsStaticUrl": "https://www.capmetro.org/planner/includes/gtfs.zip",
  "OPENSKY_CLIENT_ID": "<your_username>",
  "OPENSKY_CLIENT_SECRET": "<your_password>"
}
